# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.chroma
*.log
**/*.egg-info/
*.egg-info/
.venv
.vscode
profile.html
*.pkl
*.whl
libs
*tar.gz
*.pth*
*.pt*

build/

coverage.xml
.coverage

secrets/
.env

.DS_Store

Data/
*.csv
*.xlsx
*.zip
*.bk





*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.webp
*.svg
*.ico
*.raw